{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<style>
    h1{
        text-align:center;
        font-size:50px;
        padding-top:3%;
        color:#8f8f8f;
    }

    a{
        color:white;
    }

    a:hover{
        color:black;
    }
</style>

<div class="container"> 
    <h1>Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Login</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.login }}</td>
                <td>
                    {{ include('admin/user/roles_pills.html.twig', { roles: user.roles }) }}
                    
                <td>
                    <button class= "btn btn-info btn-sm"> <a href="{{ path('admin_user_show', {'id': user.id}) }}">show</a> </button>
                    <button class= "btn btn-info btn-sm"> <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a> </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class= "btn btn-primary"> <a href="{{ path('admin_user_new') }}">Créer un nouvel utilisateur</a></button>

</div>
{% endblock %}
{% block footer %}{% endblock %}
