{% extends 'base.html.twig' %}


{% block title %}New User{% endblock %}

{% block body %}
    
    <h1>Create new User</h1>

    {{ form_start(form) }}

    {{ form_row(form.login, { 'attr': {'placeholder': 'entrez un login'}}) }}

    {{ form_row(form.password, { 'attr': {'placeholder': 'entrez un mot de passe'}}) }}


    <button type="submit" class="btn btn-success btn-lg">Valider</button>
    
    <a href="{{ path('admin_user_index') }}">back to list</a>
    

    {{ form_end(form) }}  

    
{% endblock %}
