{% extends 'base.html.twig' %}


{% block title %}Voyage index{% endblock %}

{% block body %}
<style>
    h1{
        text-align:center;
        font-size:50px;
        padding-top:3%;
        color:#8f8f8f;
    }

    a{
        color:white;
    }

    a:hover{
        color:black;
    }
</style>

<div class="container"> 
    <h1>Voyages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Texte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.nom }}</td>
                <td>{{ voyage.description }}</td>
                <td>{{ voyage.texte }}</td>
                <td>
                    <button class= "btn btn-info btn-sm"> <a href="{{ path('admin_voyage_show', {'id': voyage.id}) }}">show</a> </button>
                    <button class= "btn btn-info btn-sm"> <a href="{{ path('admin_voyage_edit', {'id': voyage.id}) }}">edit</a> </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class= "btn btn-primary"> <a href="{{ path('admin_voyage_new') }}">Créer un nouveau voyage</a></button>

</div>
{% endblock %}
