{% extends 'base.html.twig' %}


{% block title %}New Voyage{% endblock %}

{% block body %}
      <style>
    h1{
        text-align:center;
        font-size:50px;
        padding-top:10%;
        color:#8f8f8f;
    }

    button{
        margin-right:1%;
        margin-bottom:1%;
    }
</style>

  <div class="container"> 

    <h1>Création nouveau voyage</h1>

    {{ form_start(form) }}

    {{ form_row(form.nom, { 'attr': {'placeholder': 'entrez le nom de votre voyage'}}) }}

    {{ form_row(form.description, { 'attr': {'placeholder': 'entrez une description courte'}}) }}

    {{ form_row(form.texte, { 'attr': {'placeholder': 'entrez une description détaillée', 'rows': '8'}}) }}

    {{ form_row(form.voyage)  }}

    {{ form_row(form.photos)  }}

    <button type="submit" class="btn btn-success btn-lg">Valider</button>

    <button class= "btn btn-primary"> <a href="{{ path('admin_voyage_index') }}">back to list</a> </button>

</div>

    {{ form_end(form) }}  
{% endblock %}
