{% extends 'base.html.twig' %}


{% block title %}Destinations index{% endblock %}

{% block body %}
<style>
    h1{
        text-align:center;
        font-size:50px;
        padding-top:3%;
        color:#8f8f8f;
    }

    a{
        color:white;
    }

    a:hover{
        color:black;
    }
</style>

<div class="container"> 
    <h1>Destinations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Ville</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Créée le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for destination in destinations %}
            <tr>
                <td>{{ destination.ville }}</td>
                <td>{{ destination.lat }}</td>
                <td>{{ destination.lng }}</td>
                <td>{{ destination.createdAt ? destination.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button class= "btn btn-info btn-sm"> <a href="{{ path('admin_destinations_show', {'id': destination.id}) }}">show</a> </button>
                    <button class= "btn btn-info btn-sm"> <a href="{{ path('admin_destinations_edit', {'id': destination.id}) }}">edit</a> </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class= "btn btn-primary"> <a href="{{ path('admin_destinations_new') }}">Créer une nouvelle destination</a></button>

</div>
{% endblock %}
