{% extends 'base.html.twig' %}


{% block title %}New Destinations{% endblock %}

{% block body %}
    <style>
    h1{
        text-align:center;
        font-size:50px;
        padding-top:10%;
        color:#8f8f8f;
    }

    button{
        margin-right:1%;
        margin-bottom:1%;
    }
</style>

  <div class="container">  

    <h1>Création nouvelle destination</h1>

    {{ form_start(form) }}

    {{ form_row(form.ville, { 'attr': {'placeholder': 'entrez une ville'}}) }}

    {{ form_row(form.lat, { 'attr': {'placeholder': 'entrez une latitude'}}) }}

    {{ form_row(form.lng, { 'attr': {'placeholder': 'entrez une longitude'}}) }}

    {{ form_row(form.pays)}}

    <button type="submit" class="btn btn-success btn-lg">Valider</button>

    <button class= "btn btn-primary"> <a href="{{ path('admin_destinations_index') }}">back to list</a> </button>

    {{ form_end(form) }} 
</div>
    
{% endblock %}
