{% extends 'base.html.twig' %}


{% block title %}Destinations{% endblock %}

{% block body %}
    <h1>Destinations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Ville</th>
                <td>{{ destination.ville }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ destination.lat }}</td>
            </tr>
            <tr>
                <th>Lng</th>
                <td>{{ destination.lng }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ destination.id }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ destination.createdAt ? destination.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_destinations_index') }}">back to list</a>

    <a href="{{ path('admin_destinations_edit', {'id': destination.id}) }}">edit</a>

    {{ include('admin/destinations/_delete_form.html.twig') }}
{% endblock %}
